<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/requete.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Page de Requête</title>
</head>
<body onload="submitForm()">
    <div class = "background">
        <div class="scroll_container">
            <div class="first_section scroll_section">
                <div class="header">
                        <div class="logo">
                            <a href="/" class="logo">
                            <img src="ASSETS/logo_chess.png" alt="logo">
                            </a>
                        </div>
                    <div class="lien">
                        <input class="menu_button" type="checkbox" id="menu_button">
                        <label for="menu_button">
                            <img src="ASSETS/menu_burger.jpg" alt="menu" class="burger">
                            <img src="ASSETS/menu_burger.jpg" alt="close" class="close">
                        </label>
                        <nav class="menu">
                            <ul>
                                <li><a href="/requete">REQUETE</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class = "WithOutHeader">
            
            <div class="first_content">
                <form class="search_bar">
                    <input type="text" autofocus class="search_input" name="search" placeholder="Recherchez un pseudo">
                    <div class="search_icons">
                        <img src="ASSETS/rod.svg" alt="rod" class="rod">
                        <button type="submit" class="search_button">
                            <img src="ASSETS/search.svg" alt="search" class="search_button_icon">
                        </button>
                    </div>
                </form>
            </div>
            
            <div class = "second_content">
                {{if eq .Entree "WIM"}}
                {{range $v := .Data}}
                <div class = "card">
                    <div class = "up">
                        <img src = {{$v.Avatar}} alt = "Avatar">
                    </div>
                    <div class = "down">
                        <div class = "info">
                            <h1 id="username">{{$v.Username}}</h1>
                            <h2 id = "ID">ID du joueur: {{$v.PlayerID}}</h2>
                            <p id = "followers">Nombre de followers: {{$v.Followers}}</p>
                            <h2 id = "verified">Streamer: {{$v.IsStreamer}}</h2>
                        </div>
                        <div class = "button">
                            <button class = "MoreInfo">Plus d'informations</button>
                        </div>
                    </div>
                </div>
                {{end}}
                {{else}}
                {{$v := .Data}}
                <div class = "card">
                    <div class = "up">
                        <img src = {{$v.Avatar}} alt = "Avatar">
                    </div>
                    <div class = "down">
                        <div class = "info">
                            <h1 id="username">{{$v.Username}}</h1>
                            <h2 id = "ID">ID du joueur: {{$v.PlayerID}}</h2>
                            <p id = "followers">Nombre de followers: {{$v.Followers}}</p>
                            <h2 id = "verified">Streamer: {{$v.IsStreamer}}</h2>
                        </div>
                        <div class = "button">
                            <button class = "MoreInfo">Plus d'informations</button>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <script>
        function submitForm() {
          document.getElementById("title").submit();
        }
    </script>
</body>
</html>